@import url('https://fonts.googleapis.com/css2?family=Alata&family=Asar&family=Rakkas&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type:none;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
  }
body{
  overflow-x: hidden;
}